<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm" style="background-color: gainsboro;"  >
   
      <div class="row" >
        <span style="padding-left: 50%;"></span>      
      </div>
      <nav class="my-2 my-md-0 mr-md-3" >      
        <a class="p-2 text-dark" href="#" style="text-decoration: none; ">Home</a>
        <!-- <span style="padding-left: 10%;"></span>  -->

             
      </nav>   
      <!-- <a class="p-2 text-dark" href="addProduct"  [routerLink]="['/addProduct']" style="text-decoration: none;">Product</a>
      <span style="padding-left: 10%;"></span>      
      <span style="padding-left: 50%;"></span>  -->
      
  </div>
  
  <!-- <div class="conatiner">
      <app-productpage></app-productpage>
</div>

  -->